# Tomcat
server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8
    max-threads: 1000
    min-spare-threads: 30
  servlet:
    context-path: /iot-modbus-test

iot:
  netty: # netty通讯
    server:
      open: true
      port: 4000
      thread: 10
    client:
      open: false
      ip: 127.0.0.1
      port: 5000
      thread: 10
      device-group: 1
  serialport: #串口通讯
    open: false
    port: COM1
    timeout: 5000
    baudrate: 115200
    thread: 10